/* Write your CSS here */

.welcome-bg-container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 768px) {
  .heading {
    font-size: 58px;
    font-weight: 900;
  }
}

.description {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 768px) {
  .description {
    font-size: 42px;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
}

.button {
  border: none;
  border-radius: 14px;
  background-color: #ffffff;
  color: #1e293b;
  font-family: 'Bree Serif';
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .button {
    font-size: 26px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
